*{
    margin: 0px;
    padding:0px;

}
body{
    font-size: 14px;
}
.container{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
/*header开始*/
.header{
    background-color: black;
    height: 55px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-logo{
    padding-left: 20px;
}
.header-right{
    color: #FFFFFF;
    padding-right: 50px;
    line-height: 55px;
    font-size: 16px;
}
.header a{
    text-decoration: none;
    margin-left: 20px;
    color: #FFFFFF;
}
/*header结束*/
/*layout开始*/
.layout{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    flex: 1;
}

.course-menu{
    padding: 10px 30px;
    background-color: #FFFFFF;
}

.course-add{
    margin-top: 10px;
    margin-left: 25px;
}
.chapter-list{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    /* background-color: violet; */
    min-height: 200px;

}
/* .chapter{
    margin-top: 30px;
} */

.chapter-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 40px;
    height: 40px;
    background-color: #cfe5fc;
}
.chapter-name{
    padding-left: 25px;
    font-weight: bolder;
}
.chapter-tools{
    margin-right: 20px;
}
.icon-btn{
    display: inline-block;
    margin: 0px 5px;

}
.icon-btn a{
    color: #409eef;
    text-decoration: none;
}

.chapter-section{
    background-color: #f9f9f9;
}
.section-name{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    background-color: #e6e3e3;
}
.section-dot{
    display: inline-block;
    margin: 0px 10px 0px 30px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #409eef;
}
.section-tools{
    margin-right: 20px;
}
.section-resource{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 80px;
}
.resource-tools{
    margin-right: 20px;
}

.section-add{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    background-color: #e6e3e3;
}

/*layout结束*/

.button{
    cursor: pointer;
    margin: 0px;
    padding: 7px 12px;
    border-radius: 5px;
}
.button-primary{

    color: white;
    background-color: #409eef;
    border-color: #409eef;
}
.button-primary:hover{
    color: white;
    background-color: #66b1ff;
    border-color: #66b1ff;
}
.iconmargin{
    margin-right: 5px;
}



.pop-modal{
    background-color: #ffffff;
    width: 305px;
    height: 165px;
    text-align: left;
    padding-left: 40px;
}
.pop-title{
    height:30px;
    line-height: 30px;
    margin-top: 10px;
}
.pop-input, .pop-button{
    height:50px;
    line-height: 50px;
}
.line-input{
    outline: none;
    width: 270px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #409EFF;
}
.input-label::before{
    content: "*";
    color: #f56c6c;
    margin-right: 5px;
}
.pop-button{
    margin-top:10px;
}
.pop-input select{
    width: 70px;
    height: 30px;
    line-height: 30px;
}
.resource-name{
    cursor: pointer;
}

