<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="/static/font/iconfont.css">
	<link rel="stylesheet" href="../static/css/course.css">
	<script src="../static/js/jquery-3.4.1.min.js"></script>
	<script src="../static/js/layer.js"></script>
	<script src="../static/js/vue.js"></script>

</head>
<body>
<div class="container">
	<header class="header">
		<div class="header-logo">
			<img src="../static/imge/logo.png" >
		</div>
		<div class="header-right">
			欢迎：某某
			<a href="">修改密码</a>
			<a href="">退出</a>
		</div>
	</header>
	<section class="layout">
		<div class="course-menu">
			我的课程>>理论实践课
		</div>
		<div class="course-content">
			<div class="course-add">
				<button class="button button-primary"><i class="icon iconfont icon-jiaru iconmargin"></i>添加章节</button>
			</div>
			<div class="chapter-list" id="chapter-list">
				<div class="chapter" v-for="chapter in list">
					<div class="chapter-title">
						<div class="chapter-name">
							<i class="icon iconfont icon-kecheng1 iconmargin"></i>{{ chapter.chname }}
						</div>
						<div class="chapter-tools">
							<div class="icon-btn">
								<a href=""><i class="icon iconfont icon-bianji iconmargin"></i></a>
							</div>
							<div class="icon-btn">
								<a href=""><i class="icon iconfont icon-shanchu iconmargin"></i></a>
							</div>
							<div  class="icon-btn">
								<a href=""><i class="icon iconfont icon-zhankai2 iconmargin"></i></a>
							</div>
						</div>
					</div>
					<div class="chapter-section" v-if="chapter.subsections.length !== 0" v-for=" subsection in chapter.subsections ">
						<div class="section-name">
							<div>
								<span class="section-dot"></span>{{ subsection.ssname }}
							</div>
							<div class="section-tools">
								<div class="icon-btn">
									<a href=""><i class="icon iconfont icon-bianji iconmargin"></i></a>
								</div>
								<div class="icon-btn">
									<a href=""><i class="icon iconfont icon-shanchu iconmargin"></i></a>
								</div>
								<div class="icon-btn">
									<a href=""><i class="icon iconfont icon-jiaru iconmargin"></i>新增资源</a>
								</div>
								<div  class="icon-btn">
									<a href=""><i class="icon iconfont icon-zhankai2 iconmargin"></i></a>
								</div>
							</div>
						</div>
						<div class="section-resource" v-if="subsection.resources.length !== 0" v-for=" resource in subsection.resources ">
							<div>
								<i class="icon iconfont icon-wendang iconmargin"></i>{{ resource.rname }}
							</div>
							<div class="resource-tools">
								<div class="icon-btn">
									<a href=""><i class="icon iconfont icon-bianji iconmargin"></i></a>
								</div>
								<div class="icon-btn">
									<a href=""><i class="icon iconfont icon-shanchu iconmargin"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="section-add">
						<div class="icon-btn">
							<a href=""><i class="icon iconfont icon-jiaru  iconmargin"></i>添加章节</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
</body>
<input th:value="${cid}" hidden id="cid"/>
<div class="pop-modal" id="pop-chapter" style="display: none;">
	<div class="pop-title">
		<span class="input-label">章节的名称:</span>
	</div>
	<div class="pop-input">
		<input type="text" placeholder="" class="line-input"/>
	</div>
	<div class="pop-button">
		<button class="button button-primary">确定</button>
	</div>
</div>
<script>
	function loadData(){
		const id = $("#cid").val();
		$.ajax({
			url:"chapter",
			data: "id="+id,
			success: function (data) {

			}
		})
	}
	$().ready(function () {
		//添加章
		$(".course-add button").on(
			"click",function(){
				layer.open({
					type:1,
					title:"章节操作",
					content: $("#pop-chapter")
				})
			}
		);

		var data = [
			{
				"chid": "1",
				"chname": "123",
				"subsections":[
					{
						"ssid": "1",
						"ssname": "123",
						"resources":[
							{
								"rid":"1",
								"rname":"123",
								"rpath":"/123",
								"rtname":"pdf"
							}
						]
					}
				]
			},
			{
				"chid": "1",
				"chname": "123",
				"subsections":[
					{
						"ssid": "1",
						"ssname": "123",
						"resources":[]
					}
				]
			},
			{
				"chid": "1",
				"chname": "123",
				"subsections":[]
			}
		];
		const chapters = new Vue({
			el: "#chapter-list",
			data: {
				list: data
			}
		});

	})
</script>
</html>
