<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>登录页面</title>
		<link rel="stylesheet" href="../static/css/login.css">
		
	</head>
	<body>
		<div id="container">
			<header class="top">
				<div class="header_logo">
					<img src="../static/imge/home_logo.png"  alt=""/>
				</div>
				<div class="header_btn">
					<div class="login_btn">登录</div>
				</div>
			</header>
			<section class="middle">

			</section>
			<footer class="footer">
                <div id="text1">数智教学</div>
                <div id="text2">打造平台+内容+服务的ICT人才培养综合解决方案</div>
			</footer>
		</div>
	</body>
</html>