<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>主页面</title>
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-left">
                <img src="../static/imge/logo.png"/>
            </div>
            <div class="header-right">
                欢迎:XXX
                <a href="">修改密码</a>
                <a href="">退出</a>
            </div>
        </header>
        <section class="layout">
            <aside class="layout-left">
                <div class="menu">
                    <a href=""><i class="icon iconfont icon-kecheng iconmargin"></i>我的课程</a>
                </div>
                <div class="submenu">
                    <a href="">我管理的</a>
                </div>
                <div class="submenu">
                    <a href="">我学习的</a>
                </div>
                <div class="menu">
                    <a href=""><i class="icon iconfont icon-xiti iconmargin"></i>我的习题</a>
                </div>
            </aside>
            <section class="layout-right">
                <div class="query">
                    <div class="query-input">
                        <input type="text" placeholder="请输入搜索关键字">
                        <img src="../static/imge/query.png" alt="">
                    </div>
                    <div class="add-btn">
                        <button class="button button-primary"><i class="icon iconfont icon-jiaru iconmargin"></i>建新课程</button>
                    </div>
                </div>
                <div class="card-container">
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-top">
                            JAVA语法入门
                        </div>
                        <div class="card-desc">
                            java语法入门升级版
                        </div>
                        <div class="card-tools">
                            <a href=""><i class="icon iconfont icon-bianji iconmargin"></i>编辑</a>
                            <a href=""><i class="icon iconfont icon-shanchu iconmargin"></i>删除</a>
                        </div>
                        <div class="card-bottom">
                            零基础
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</body>
</html>